main {
    display: flex;
    width: 400px;
    margin: 0 auto;
}

nav {
    position: relative;
}

nav ul {
    width: 6rem;
    list-style: none;
}

nav ul li {
    padding: .5rem;
}

nav ul a {
    padding: .5rem;
    text-decoration: none;
}

nav a.active {
    background-color: lightseagreen;
    color: white;
}